/* RESET */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;	padding: 0;	border: 0;outline: 0;vertical-align: baseline;background: transparent;}
body {line-height: 1;font:0.75em/1.7em Arial, Helvetica, sans-serif;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
:focus {outline: 0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}

table {border-collapse: collapse;border-spacing: 0;}
/*RESET PARA  POSTVIEW*/
/* blocks */
div#postView p{display: block;margin: 1em 0;}
div#postView h2{display: block;font-size: 2em;line-height:1.2em;font-weight: bold;margin: 1em 0 -5px;}
div#postView h3{display: block;font-size: 1.5em;font-weight: bold;margin: 1em 0 -5px;}
div#postView h4{display: block;font-size:1.17em;font-weight: bold;margin: 1em 0 -5px;}
/* tables */
div#postView table {display: table;border-spacing: 2px;border-collapse: separate;margin-top: 0;margin-bottom: 0;text-indent: 0;}
div#postView tr {display: table-row;vertical-align: inherit;}
div#postView td {display: table-cell;vertical-align: inherit;text-align: inherit;padding: 1px;}
div#postView th {display: table-cell;vertical-align: inherit;font-weight: bold;padding: 1px;}
/* inlines */
div#postView img {border:1px solid #cccccc;padding:5px;}
/*div#postView strong {font-weight: bolder;}*/
div#postView cite, div#postView em{font-style: italic;}
/*div#postView strike{text-decoration: line-through;}*/
div#postView small {font-size: smaller;}
div#postView sub {vertical-align: sub;font-size: smaller;line-height: normal;}
div#postView sup {vertical-align: super;font-size: smaller;line-height: normal;}
/* lists */
div#postView ul{display: block;list-style-type: disc;margin: 1em 0 1em 15px;}
div#postView ol {display: block;list-style-type: decimal;margin: 1em 0 1em 15px;}
div#postView li {display: list-item;}
/* 2 deep unordered lists use a circle */
div#postView ol ul, div#postView ul ul, div#postView menu ul, div#postView dir ul, div#postView ol menu, div#postView ul menu, div#postView menu menu, div#postView dir menu, div#postView ol dir,  div#postView ul dir,  div#postView menu dir,  div#postView dir dir {list-style-type: circle;}
/* 3 deep (or more) unordered lists use a square */
div#postView ol ol ul, div#postView ol ul ul, div#postView ol menu ul, div#postView ol dir ul, div#postView ol ol menu, div#postView ol ul menu,   div#postView ol menu menu,  div#postView ol dir menu, div#postView ol ol dir, div#postView ol ul dir, div#postView ol menu dir, div#postView ol dir dir,div#postView ul ol ul,     div#postView ul ul ul,     div#postView ul menu ul,    div#postView ul dir ul,div#postView ul ol menu,   div#postView ul ul menu,  div#postView ul menu menu,  div#postView ul dir menu, div#postViewul ol dir,    div#postView ul ul dir,   div#postView ul menu dir,   div#postView ul dir dir,div#postView menu ol ul,  div#postView menu ul ul,  div#postView menu menu ul, div#postView  menu dir ul,div#postView menu ol menu, div#postView menu ul menu, div#postView menu menu menu, div#postView menu dir menu,div#postView menu ol dir, div#postView menu ul dir, div#postView  menu menu dir, div#postView menu dir dir,div#postView dir ol ul,    div#postView dir ul ul,   div#postView dir menu ul,   div#postView dir dir ul,div#postView dir ol menu,  div#postView dir ul menu, div#postView dir menu menu, div#postView dir dir menu,div#postView dir ol dir,   div#postView dir ul dir,  div#postView dir menu dir,  div#postView dir dir dir {  list-style-type: square;}
div#postView hr {display: block; height: 2px; border: 1px inset; margin: 0.5em auto 0.5em auto; color: gray;}
div#postView hr[size="1"] {border-style: solid none none none;}
/* END RESET */