body {
	background: #F9F9F9 url("/img/roughcloth.png") 0 0 repeat;
	color: #333;
	font: 13px/20px "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif;
	margin: 0 auto;
}

a {color:#B53D25;}

a:visited {color:#551A8B;}

.hidden{display:none;}

hr{clear:both;visibility:hidden;}
.hide{
	display:none;
}
.layout{
	margin:0 auto;
	max-width:1012px;
	position:relative;
}

.main.layout{
	padding: 20px 10px 50px;
}

header.main {
	background: #FFF url("/img/bg.png") repeat-x 0 0;
	height:140px;
}

.logo{
	display:inline-block;
	position:relative;
	top:30px;
	left:10px;
	height:50px;
	width:280px;
	text-indent:-50000px;
	background:url("/img/logo.png") no-repeat;
}

.logo a{display:block;height:50px;width:280px;}
.buscador{position:absolute;top:40px;right:10px;}
.buscador input.search{
	border: 1px solid #CCC;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	display: inline-block;
	font-size: 13px;
	line-height: 18px;
	color: #555;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 5px 4px;
	margin: 5px 0;
}

.buscador input.search:focus {
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	outline: 0;
	outline: thin dotted 9;
}

.btn{
	display: inline-block;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	padding: 4px 10px 4px;
	font-size: 13px;
	line-height: 18px;

	background-color: #393939;
	background-image: -moz-linear-gradient(top, #454545, #262626);
	background-image: -ms-linear-gradient(top, #454545, #262626);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#454545), to(#262626));
	background-image: -webkit-linear-gradient(top, #454545, #262626);
	background-image: -o-linear-gradient(top, #454545, #262626);
	background-image: linear-gradient(top, #454545, #262626);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#454545', endColorstr='#262626', GradientType=0);
	border: 1px solid #262626;
	border-color: #262626 #262626 black;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);

}

.btn, .btn:hover {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: white;
}

.btn:hover, .btn:focus{
	text-decoration: none;
	background-color: #262626;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-ms-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

.btn:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.btn:active{
	background-color: #262626;
}

.menu{
	position: relative;
    top: 50px;
	height:35px;border-top:5px solid #EEEEEE;
	background-color:#9C1B1F;
	border-bottom: 1px solid #6B1515;
}

.menu .layout {overflow:hidden;max-width: 990px;}
.menu li{float:left;}
.menu li a, .menu li strong{
	display: inline-block;
	width: 95px;
	padding: 7px 0;
	font-size: 16px;
	color: white;
	text-align: center;
	text-decoration: none;
	line-height: 21px;
}
.menu li a:hover, .main nav li strong{background-color:#6B1515;}
.main nav li strong{font-weight:bold;}


section.main{padding: 20px 10px 50px;}

.path{color:#999999;font-size:1.2em;padding-bottom:5px;max-width:990px;margin:0 auto 10px;}

section.main{float:left;padding:0 10px;width:715px;position:relative;}

.postPreview,
#postView{
	background: none repeat scroll 0 0 white;
	border: 1px solid #CCCCCC;
	-ms-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	-ms-text-shadow: 0 1px 0 white;
	-o-text-shadow: 0 1px 0 white;
	-moz-text-shadow: 0 1px 0 white;
	-webkit-text-shadow: 0 1px 0 white;
	text-shadow: 0 1px 0 white;
	margin: 0 0 20px;
	padding: 10px 15px;
	position: relative;
}
.titlePost{color:#c82e26;font:bold 2.40em/1.12em "Helvetica Neue",Helvetica,Arial,sans-serif;padding:10px 70px 8px;height:65px;}
.titlePost a{color:#c82e26;text-decoration:none;}
.titlePost a:hover{color:#ffffff;background-color:#c82e26;}
.fechaPost, #postView .fechaPost{height:57px;width:55px;margin:0;position:absolute;top:20px !important;top:20px;left:10px !important;left:-70px;text-align:center;background:url('/img/fecha-bg.gif') no-repeat;}
.fechaPost small, #postView .fechaPost small{display:inline-block;width:40px;position:relative;top:11px;left:2px;font-size:1.2em;line-height:1.2em;text-align:center;}
.cantComentPost, #postView .cantComentPost{height:37px;width:53px;margin:0;position:absolute;top:20px;right:15px;text-align:center;background:url('/img/cantComent-bg.gif') no-repeat;}
.cantComentPost small, #postView .cantComentPost small{
	color: #999999;
	display: inline-block;
	font-size: 1.7em;
	font-weight: bold;
	height: 20px;
	overflow: hidden;
	position: relative;
	right: 0;
	text-align: center;
	top: 6px;
	width: 30px;
}

.introPost{margin:0 15px;}
.imgPost{margin:15px 0; text-align: center;}
.media, .media img{display:inline-block;text-align: center;}
.media {border:5px solid #EEEEEE;width:600px;height:340px;text-align:center;background:url("/img/loading.gif") no-repeat center center;}
a.media:hover{border:5px solid #C82E26;}
.leerMas{text-align:right;margin-right:20px;}


aside.main {
	float:left;
	background: #ffffff;
	padding: 10px;width: 255px;
	border:1px solid #CCCCCC;
	-ms-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}
.tituloSecciones{
	font-size:1.3em;
}
aside.main ul{padding:0px 5px;}
aside.main ul li{color:#c82e26;margin:10px 0;}
aside.main article{border-bottom:1px dotted #ccc;margin-bottom:10px;padding-bottom:10px;width:255px;float:left;background-color: #ffffff;}
aside.main #follow{background:url('/img/follow.gif') no-repeat right 35px;height:120px;}
aside.main ul li.twitterUsusario{border-bottom:1px solid #CCCCCC;color:#333333;float:left;font-size:0.9em;margin:5px 0;padding-bottom:10px;}
aside.main .twitterImg{float:left;padding-right:10px;width:48px;}

footer.main {
	border-top:5px solid #F3E8D6
	background-color:#9C1B1F;
}
footer.main p {
	text-align:center;
	color:#FFF;
}
footer.main p a{
	color:#FFF;
}

/*Comentarios LISTA*/
div#comentariosVista{margin-top:20px;}
ol#comentariosLista{margin-top:15px;}
ol#comentariosLista li{border:1px solid #cccccc;padding:10px; margin:10px 0;background:#FFF url('/img/comments-bg.gif') no-repeat 10px 10px;}
ol#comentariosLista li dl{padding-left:45px;}
ol#comentariosLista li dl small.comentarioFecha{color:#999999;}


/*Comentar REVISAR */
div#comentarForm{margin-top:20px;}
form#comentar {margin-top:15px;padding:0;}
label.labelText{padding-right:10px;text-align: right;vertical-align: top;}
span.obligatorio{color:#c82e26;vertical-align: top;}
.inputText {border:2px solid #cccccc;width:258px;vertical-align: top;}
.inputText:focus {border-color:#c82e26;}
textarea.inputText {width:520px;height:245px;}
form#comentar p {margin:15px 0;}
.error {color:#FF0000;padding:5px;}
.accept {color:#339966;padding:5px;}
div#captcha {margin:0 0 0 68px;padding-bottom:15px;}
div#captcha p {margin:5px 0;}
div#captcha p img{margin: -3px 0pt 0pt 1px;}
div#captcha input{width:75px;vertical-align: top;}
form#comentar p#enviarComentBox {clear:both;margin:0 0 0 72px;}
.loading{background:url('/img/loading.gif') no-repeat center center;}


#postView h3 {
	border-bottom: 1px dotted #CCC;
	margin-bottom: 18px;
	padding: 10px 0 3px;
}

#postView ul,
#postView ol {
	list-style-type:square;
	padding-bottom: 0.45em;
	padding-left:40px;
	margin: 1em 0;
}

#postView li {
	padding-bottom: 0.45em;	
}
#postView p {
	margin: 1em 0;
	margin-bottom: 1.15em;
}
.video{
	text-align:center;
}

pre {
	border: 1px solid #CACACA;
	line-height: 1.2em;
	font: 12px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
	padding: 10px;
	overflow: auto;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #FAFAFB;
	color: #393939;
	margin: 10px 0 15px;
}

dt{
	font-weight: bold;
	font-size:1.1em;
	margin-bottom: 0.5em;
}
dd {
	margin:0 10px;
}